.skills {
  background-color: rgba(20, 20, 20, 0.5);
  /* border: 2px solid white; */
}

.skills-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.skills-text {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.skills-text p {
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.skills-list {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  text-align: center;
  list-style: none;
}

.skill-name {
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #1EAEDB;
  border: 1px solid #1EAEDB;
  border-radius: 8px;
  font-weight: 500;
  transition: transform 0.2s ease;
  /* text-align: center; */
}

.skill-name:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .skills-text p {
    font-size: 1rem;
  }
}
